<html>
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <main>
      <% if (totalData.length > 0) { %> <% totalData.forEach(bst =>{ %>
      <div class="bst">
        <p id="savedinput">INPUT: <%= bst.input %></p>
        <p id="savedinput">BINARY SEARCH TREE: </p><pre><%= bst.output %></pre>
      </div>
      <% }) %> <% } %>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
